.kotak {
    height: 300px; ;
    width: 300px;
    background-color: red;
    float: left;
    margin-left: 20px;
}
p {
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 250px;
}
.blue {
    background-color: blue;
}

.kotak2 {
    clear: both;
    background-color: chartreuse;
    color: white;
    width: 46.5%;
    padding-block: 150px;
    text-align: center;
    margin-left: 20px;
}