
* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: red;
    color: white;
    padding-block: 20px;
}
header a {
    color: white;
}

footer {
    width: 100%;
    background-color:red;
    color: white;
    padding-block: 20px;
}

#foot {
    margin-bottom: -20px;
}